html,
body {
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	
	background-color: #009345;
	
	color: #444;
	font: normal 100.01%/1.375 "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	}
	
body {
	/* Preload the spinner, otherwise geo dynamic script blocks download */
	background-image: url("/theme/img/loader.gif");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	}
	
.ie6.xhr {
	font-size: 12px;
	}

section,
article,
header,
footer,
aside,
nav {
	display: block;
	}

img {
	margin: 0;
	padding: 0;
	
	border: 0;
	}
	
.clearfix:before,
.clearfix:after {
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;

	content: ".";
	font-size: 0;
	}
	
.clearfix:after {
	clear: both;
	}
	
.clearfix {
	zoom: 1;
	}
	
a,
a:link,
a:visited {
	color: #fff;
	text-decoration: underline;
	}
	
.btn,
a.btn,
a.btn:link,
a.btn:visited {
	display: inline-block;
	margin: 0;
	padding: 6px 10px 7px;
	position: relative;

	background-color: #ffe167;
	background-image: -moz-linear-gradient(top, #ffe167, #dda418);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe167), to(#dda418));
	border: 2px solid #dda418;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
	
	color: #3a2315;
	font: bold 14px/18px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	}
	
.ie6 .btn,
.ie6 a.btn,
.ie6 a.btn:link,
.ie6 a.btn:visited,
.ie7 .btn,
.ie7 a.btn,
.ie7 a.btn:link,
.ie7 a.btn:visited {
	padding: 2px 2px 3px;
	}

.btn-alt,
a.btn-alt,
a.btn-alt:link,
a.btn-alt:visited {
	background-color: #cde0bd;
	background-image: -moz-linear-gradient(top, #edf4e7, #cde0bd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#edf4e7), to(#cde0bd));
	border-color: #edf4e7;
	}

.btn:hover,
.btn:focus,
.btn:active,
.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active,
a.btn:hover,
a.btn:focus,
a.btn:active,
a.btn-alt:hover,
a.btn-alt:focus,
a.btn-alt:active {
	background-color: #8cc63e;
	background-image: -moz-linear-gradient(top, #8cc63e, #599b39);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8cc63e), to(#599b39));
	border-color: #599b39;
	
	color: #fff;
	text-shadow: -1px -1px -1px rgba(0,0,0,0.6);
	}
	
.inset-box {
	margin: -8px 0 0;
	padding: 0.3em 0;
	position: relative;
	width: 100%;
	
	background-color: #FFF;
	/*background-image: -moz-linear-gradient(top, #595140, #4a4336);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#595140), to(#4a4336));
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	-webkit-background-clip: padding-box;*/
	}
	.inset-box2 {
	margin: -8px 0 0;
	padding: 0.3em 0;
	position: relative;
	width: 100%;
	
	background-color: #655c49;
	/*background-image: -moz-linear-gradient(top, #595140, #4a4336);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#595140), to(#4a4336));*/
	background-image: url("/theme/img/masthead-bg-enhanced.png");
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset;
	-webkit-background-clip: padding-box;
	}
	
.inset-box-alt {
	margin-top: 0;
	padding-bottom: 0;
	
	-moz-border-radius: 0;
	border-radius: 0;
	
	background-color: #FFF;
	/*background-image: -moz-linear-gradient(top, #526543, #414c39);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#526543), to(#414c39));*/
	}
	
.ie6 .inset-box {
	margin-top: 0;
	}
	
.inset-box form {
	margin: 0 5px;
	padding: 0;
	position: relative;

	font-size: 0.8em;
	text-align: center;
	}
	
.location-field {
	display: block;
	margin: 0 0 0.2em 0;
	padding: 0.2em 0.4em;
	width: 100%;
	
	background-color: #eee;
	border: 1px solid #3a2315;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	font: normal 16px sans-serif;
	}
	
.ie6 .location-field,
.ie7 .location-field {
	width: 90%;
	}

.ie6.no-xhr .location-field {
	width: 90%;
	}
	
.location-field:focus {
	background-color: #fff;
	border-color: #009345;
	-moz-box-shadow: 0 0 6px rgba(138,196,63,1);
	-webkit-box-shadow: 0 0 6px rgba(138,196,63,1);
	box-shadow: 0 0 6px rgba(138,196,63,1);
	outline: 0;
	}
	
.inset-box .loc {
	display: block;
	margin: 0;
	padding: 0.2em 0.3em 0.6em;
	
	color: #eee;
	}
	
.ie6.xhr .inset-box .loc {
	font-size: 0.85em;
	}
	
.go,
a.geo,
a.geo:link,
a.geo:visited {
	margin: 0.5em;
	}
	
.no-geo,
a.no-geo,
a.no-geo:link,
a.no-geo:visited {
	display: none;
	}

#currentloc span {
	display: block;
	height: 18px;
	margin: 0 -0.3em;
	overflow: hidden;
	padding: 0;
	width: 19px;

	background: transparent url("/theme/img/icons-basic.png") no-repeat 0 0;

	text-indent: -999em;
	}

#currentloc:hover span,
#currentloc:focus span,
#currentloc:active span {
	background-position: -19px 0;
	}

.masthead {
	margin: 0;
	min-height: 59px;
	overflow: hidden;
	padding: 1px 0 0 0;
	
	/*background: #009345 url("/theme/img/masthead-bg-basic.png") repeat-x left center;*/
	
	text-indent: -999em;
	}

.ie6 .masthead {
	height: 50px;
	}

.logo-wrapper {
	margin: 0;
	padding: 0;
	}

.logo {
	display: block;
	height: 46px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 208px;
	
	background: transparent url("/theme/img/icons-basic.png");
	background-repeat: no-repeat;
	background-position: 0 -50px;
	
	color: #fff;
	font-weight: bold;
	text-indent: -999em;
	}
		
.scoop {
	display: none;
	}

#map-wrapper {
	background-color: #f2efe9;
	}
	
.map-static {
	display: block;
	width: 100%;
	}

.no-map {
	display: none;
	}
	
#not-exact-loc {
	padding: 0.6em 1em;
	
	background-color: #fcc;
	border-top: 1px solid #f33;
	border-bottom: 1px solid #f33;
	
	color: #f33;
	font-weight: bold;
	text-align: center;
	}

#nearby-loader {
	display: block;
	margin: 0 auto;
	padding: 1em 0 1em 40px;
	width: 13em;
	
	background: transparent url("/theme/img/loader.gif") no-repeat left center;
	}
	
#nearby-loader.no-nearby-loader {
	display: none;
	}
	
.content-wrapper {
	position: relative;
	z-index: 1;
	}

.no-nearby #nearby-tab,
.no-clean #clean-tab {
	display: none;
	}

.parklists {
	margin-top: -1px;
	position: relative;
	z-index: 1;
	
	background-color: #b5d29c;
	border-top: 1px solid #cde0bd;
	}
	
.tablist {
	margin: 0 6px;
	padding: 0;
	position: relative;
	z-index: 2;
	
	font-size: 0.875em;
	list-style-type: none;
	}
	
.ie6 .tablist {
	position: static;
	}
	
.tab {
	display: inline;
	float: left;
	margin: 0;
	padding: 8px 0 1px;
	}
	
.tablist a,
.tablist a:link,
.tablist a:visited {
	display: block;
	margin: 0;
	padding: 0 1em 1em;
	
	background-color: transparent;
	/*border-left: 1px solid #526543;
	border-right: 1px solid #38452e;*/
	
	color: #666;
	font-weight: bold;
	text-decoration: none;
	/*text-shadow: -1px -1px 1px rgba(0,0,0,0.4);*/
	}
	
.no-clean .tablist a,
.no-clean .tablist a:link,
.no-clean .tablist a:visited {
	border-right: 0;
	}
	
.tab:first-child a,
.tab:first-child a:link,
.tab:first-child a:visited,
.no-nearby #popular-tab a,
.no-nearby #popular-tab a:link,
.no-nearby #popular-tab a:visited,
#nearby-tab a,
#nearby-tab a:link,
#nearby-tab a:visited {
	border-left: 0;
	}
	
.tab:last-child a,
.tab:last-child a:link,
.tab:last-child a:visited,
.no-clean #friendly-tab a,
.no-clean #friendly-tab a:link,
.no-clean #friendly-tab a:visited,
#clean-tab a,
#clean-tab a:link,
#clean-tab a:visited {
	border-right: 0;
	}
	
.tab a:hover,
.tab a:focus,
.tab a:active {
	background-image: -moz-radial-gradient(center bottom, circle closest-corner, rgba(217,232,201,0.7) 0%, rgba(217,232,201,0) 50%, rgba(217,232,201,0) 100%);
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 25, from(rgba(217,232,201,0.4)), to(rgba(217,232,201,0)));
	
	color: #666;
	}

.tab-active {
	padding-bottom: 0;
	padding-top: 0;
	}

.tab-active a,
.tab-active a:link,
.tab-active a:visited,
.tab-active a:hover,
.tab-active a:focus,
.tab-active a:active {
	padding-top: 8px;

	background-color: #b5d29c;
	background-image: -moz-linear-gradient(top, #cde0bd, #b5d29c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cde0bd), to(#b5d29c));
	border-color: #b5d29c;
	border-bottom: 1px solid #b5d29c;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;

	color: #38452e;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
	}
	
.tabpanel {
	display: none;
	}
	
.tabpanel-expanded {
	display: block;
	}
	
.parks {
	margin: 0;
	padding: 6px 6px 1px;
	
	list-style-type: none;
	}
	
.parks li {
	margin: 0 0 6px 0;
	padding: 0;
	position: relative;
	width: 100%;
	
	background-color: #edf4e7;
	background-image: -moz-linear-gradient(top, #fff, #edf4e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#edf4e7));
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	-webkit-box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	}
	
.ie6 .parks li,
.ie7 .parks li {
	margin-top: -6px;
	zoom: 1;
	}
	
.ie6 .parks .first-child,
.ie7 .parks .first-child {
	margin-bottom: 12px;
	}
	
.parks a,
.parks a:link,
.parks a:visited {
	display: block;
	margin: 0;
	padding: 0.4em 3.8em 0.4em 4.8em;
	overflow: hidden;
	zoom: 1;
	
	border: 1px solid #fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	color: #38452e;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	}
	
.no-rating a,
.no-rating a:link,
.no-rating a:visited {
	padding-right: 0.4em;
	}

.parks a:hover,
.parks a:focus,
.parks a:active {
	background-color: #cde0bd;
	background-image: -moz-linear-gradient(top, #edf4e7, #cde0bd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#edf4e7), to(#cde0bd));
	border-color: #edf4e7;
	}

.rategroup {
	left: 0.8em;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0.45em;
	width: 3.7em;
	
	color: #009345;
	text-align: right;
	}

.park-info {
	display: inline;
	float: left;
	height: 1.375em;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	}

.amount-votes {
	display: none;
	margin: 0 6px 0 0;
	padding: 0;
	position: absolute;
	right: 26px;
	top: 0;
	
	opacity: 0.6;
	
	color: #4f6141;
	line-height: 2;
	font-size: 0.75em;
	}
	
@media screen and (min-width:700px){
.amount-votes {
	display: block;
	}
}

.park-type {
	display: inline;
	float: right;
	height: 22px;
	margin: -1.375em 0 0 0;
	overflow: hidden;
	padding: 0;
	width: 22px;
	
	background: transparent url("/theme/img/icons-basic.png") no-repeat -66px -19px;
	
	text-indent: -999em;
	}
	
.leashed {
	background-position: -22px -19px;
	}
	
.restrictions {
	background-position: -44px -19px;
	}
	
.free {
	background-position: 0 -19px;
	}

.parks a.rate,
.parks a.rate:link,
.parks a.rate:visited {
	bottom: 0;
	margin: 0;
	padding: 0.6em 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 3.5em;
	z-index: 10;
	
	background-color: #cde0bd;
	background-image: -moz-linear-gradient(top, #edf4e7, #cde0bd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#edf4e7), to(#cde0bd));
	border: 1px solid #edf4e7;
	border-left: 0;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	
	color: #38452e;
	font-size: 0.875em;
	text-align: center;
	}
	
.parks a.rate:hover,
.parks a.rate:focus,
.parks a.rate:active {
	background-color: #8cc63e;
	background-image: -moz-linear-gradient(top, #8cc63e, #599b39);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8cc63e), to(#599b39));
	border-color: #599b39;
	
	color: #fff;
	text-shadow: -1px -1px -1px rgba(0,0,0,0.6);
	}

.no-rating a.rate,
.no-rating a.rate:link,
.no-rating a.rate:visited {
	display: none;
	}
	
#filter-form {
	display: none;
	}

.contentinfo {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 0.75em;
	}
	
.ie6 .contentinfo,
.ie7 .contentinfo {
	margin-top: -6px;
	}
	
.contentinfo ul {
	margin: 0;
	padding: 6px;
	
	list-style-type: none;
	}
	
.contentinfo li {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 4em;
	
	text-align: center;
	}

.contentinfo .producer {
	margin: 0;
	position: absolute;
	top: 0.5em;
	width: auto;
	}

#thomasjbradley {
	right: 6px;
	}
	
#odb {
	left: 6px;
	}
	
.contentinfo a,
.contentinfo a:link,
.contentinfo a:visited {
	color: #b8aa97;
	}
	
.contentinfo a:hover,
.contentinfo a:focus,
.contentinfo a:active {
	color: #fff;
	}

.park-info-box {
	margin: 0;
	padding: 1em 6px;
	width: auto;
	
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #f1efe9, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1efe9), to(#fff));
	border-top: 1px solid #dcdbd8;
	-moz-border-radius: 0;
	border-radius: 0;
	}

.info {
	margin: 0;
	padding: 0 0 0 2.8em;
	position: relative;
	}

.info .icon {
	height: 22px;
	margin: 0 0 0 -28px;
	padding: 0;
	position: absolute;
	top: 0;
	width: 22px;
	
	background: transparent url("/theme/img/icons-basic.png") no-repeat -66px -19px;
	
	text-indent: -999em;
	}

.leashed .icon {
	background-position: -22px -19px;
	}
	
.restrictions .icon {
	background-position: -44px -19px;
	}
	
.free .icon {
	background-position: 0 -19px;
	}

.info strong,
.info .park-name {
	display: block;
	margin: 0;
	padding: 0;
	
	color: #333;
	font-size: 1.125em;
	}
	
.map-info strong,
.map-info .park-name {
	min-width: 15em;
	}

.info .adr {
	margin: 0.1em 0 0;
	padding: 0;
	
	color: #999;
	font-size: 0.75em;
	}
	
.info .parktype {
	margin: 0;
	padding: 0;
	
	color: #c1262b;
	font-size: 0.875em;
	}
	
.free .parktype {
	color: #009345;
	}
	
.leashed .parktype {
	color: #faaf3a;
	}
	
.restrictions .parktype {
	color: #666;
	}
	
.info .notes {
	margin: 0;
	padding: 0;
	
	font-size: 0.875em;
	}
		
.info .rating {
	margin: 0.3em 0 0 0;
	padding: 0;
	
	list-style-type: none;
	}
	
.info .rating:before,
.info .rating:after {
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;

	content: ".";
	font-size: 0;
	}
	
.info .rating:after {
	clear: both;
	}
	
.info .rating li {
	display: inline;
	float: left;
	position: relative;
	}
	
.park-info-box .info .rating li {
	display: block;
	float: none;
	}
	
.info .rating .overall {
	margin: 0;
	padding: 0;
	
	color: #009345;
	font-size: 1.5em;
	font-weight: bold;
	}

.info .rating .facility,
.info .rating .friendly,
.info .rating .clean {
	margin: 0;
	padding: 0 4px 0 20px;
	
	font-size: 0.875em;
	line-height: 1.6;
	}
		
.info .rating li .icon {
	display: inline;
	float: left;
	height: 18px;
	margin: 0 0 0 -22px;
	padding: 0;
	width: 18px;
	
	background: transparent url("/theme/img/icons-basic.png") no-repeat -60px 0;
	}
	
.info .rating .friendly .icon {
	background-position: -106px 0;
	}
	
.info .rating .facility .icon {
	background-position: -83px 0;
	}
		
.info .rating .amount-ratings {
	clear: both;
	display: block;
	
	color: #999;
	font-size: 0.75em;
	line-height: 2;
	}
	
.info .buttonbox {
	clear: both;
	margin: 0;
	padding: 0.6em 0 0.4em;
	
	font-size: 0.75em;
	}
	
.info .buttonbox button {
	padding: 0.15em 0.6em 0.2em;
	}
	

.ie7 .info .rating .overall,
.ie8 .info .rating .overall {
	margin: -0.1em 0 0 -2.3em;
	width: 2.5em;
	
	font-size: 1.125em;
	}

@media screen and (min-width:320px)
{

.info .rating .overall {
	margin: -0.1em 0 0 -2.3em;
	width: 2.5em;
	
	font-size: 1.125em;
	}

.info .rating li,
.park-info-box .info .rating li,
.info .rating .facility,
.info .rating .friendly,
.info .rating .clean {
	display: inline;
	float: left;
	margin-right: 12px;
	}

}

.ratebox {
	display: none;
	}

.ratewidget {
	margin: 0;
	padding: 0;
	position: relative;
	
	background-color: #b5d29c;
	background-image: -moz-linear-gradient(top, #b5d29c, #cde0bd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5d29c), to(#cde0bd));
	border-top: 1px solid #95a885;
	}
	
.ratewidget h3 {
	margin: 0;
	padding: 0;
	
	color: #009345;
	font-size: 1.125em;
	font-style: normal;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
	}
	
.ratewidget p {
	margin: 0;
	padding: 0;
	
	font-size: 0.875em;
	font-style: italic;
	}

.ratewidget form {
	margin: 0;
	padding: 0.6em;
	position: relative;
	zoom: 1;
	
	border: 2px solid #b5d29c;
	}

.ratewidget fieldset {
	clear: both;
	margin: 0;
	overflow: hidden;
	padding: 0 0 1em;
	
	border: 0;
	}

.ratewidget fieldset div {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	width: 33%;
	
	text-align: center;
	}
	
.ratewidget fieldset input {
	cursor: pointer;
	}
	
.ratewidget fieldset label {
	display: block;
	margin: 0;
	padding: 0;
	
	cursor: pointer;
	
	color: #4a4336;
	line-height: 1;
	}

.ratewidget fieldset label span {
	display: block;
	height: 34px;
	margin: 0.2em auto;
	padding: 0;
	width: 36px;
	
	background: transparent url("/theme/img/icons-basic.png") no-repeat 0 -91px;
	}
	
.ratewidget fieldset .facility-0 span {
	background-position: 0 -91px;
	}
	
.ratewidget fieldset .facility-1 span {
	background-position: -36px -91px;
	}
	
.ratewidget fieldset .facility-2 span {
	background-position: -72px -91px;
	}
	
.ratewidget fieldset .clean-0 span {
	background-position: 0 -125px;
	}
	
.ratewidget fieldset .clean-1 span {
	background-position: -36px -125px;
	}
	
.ratewidget fieldset .clean-2 span {
	background-position: -72px -125px;
	}
	
.ratewidget fieldset .friendly-0 span {
	background-position: 0 -162px;
	}
	
.ratewidget fieldset .friendly-1 span {
	background-position: -36px -162px;
	}
	
.ratewidget fieldset .friendly-2 span {
	background-position: -72px -162px;
	}

.ratewidget .buttons {
	clear: both;
	
	text-align: center;
	}
