body {
	min-height: 100%;
	overflow: hidden;
	}
	
.content-wrapper {
	position: static;
	}

.map-group {
	bottom: 47px;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 34%;
	top: 52px;
	z-index: 100;
	
	background-color: #f2efe9;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	}
	
.parks-group {
	bottom: 47px;
	left: 66%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 52px;
	z-index: 101;
	
	background-color: #b5d29c;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	}
	
.map-group .inset-box {
	margin-top: 0;
	padding-bottom: 0.1em;
	height: 2.7em;
	
	/*-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;*/
	}
	
.parks-group .inset-box {
	margin-top: 0;
	padding-top: 0.45em;
	
	/*-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;*/
	}

.go,
a.geo,
a.geo:link,
a.geo:visited {
	margin-bottom: 0;
	}
	
.ie7 .park-type {
	margin-left: -1.5em;
	margin-top: 0;
	}

#map-wrapper {
	bottom: 0;
	position: absolute;
	top: 3.1em;
	width: 100%;
	}

#map {
	height: 100%;
	width: 100%;
	}
	
.ie7 #map {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	}

.amount-votes {
	display: none;
	}

@media screen and (min-width:1200px){
.amount-votes {
	display: block;
	}
}

.contentinfo {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 102;
	}

#top-link {
	display: none;
	}
