.masthead {
	background-image: url("/theme/img/masthead-bg-enhanced.png");
	}

.logo {
	margin-left: 12px;
	margin-right: 0;
	}
	
.scoop {
	display: block;
	height: 50px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 0;
	width: 132px;
	
	background: transparent url("/theme/img/icons-enhanced.png") no-repeat -97px 0;
	
	color: #fff;
	font-size: 0.875em;
	font-weight: normal;
	line-height: 1.375;
	text-indent: -999em;
	}

.inset-box form {
	margin-right: 6.5em;
	position: relative;
	
	text-align: left;
	}
	
.inset-box form.geo {
	margin-left: 3.9em;
	}
	
.go {
	position: absolute;
	right: -5.9em;
	top: -0.45em;
	}
	
#currentloc {
	position: absolute;
	left: -3.5em;
	top: -0.45em;
	}
	
.inset-box .loc {
	height: 1em;
	left: 0;
	overflow: hidden;
	padding: 0.3em 10px;
	position: absolute;
	width: 98%;
	z-index: 10;
	
	cursor: text;
	
	color: #aaa;
	font-size: 21px;
	line-height: 1;
	}

.location-field {
	margin-top: 0.1em;
	
	font-size: 21px;
	line-height: 27px;
	}

.contentinfo {
	min-height: 47px;
	}

#top-link {
	display: block;
	margin: 0.8em auto 0;
	width: 3em;
	}

#odb a,
#odb a:link,
#odb a:visited {
	display: block;
	height: 35px;
	margin: 0 12px 0 0;
	overflow: hidden;
	padding: 0;
	width: 200px;
	
/*	background: transparent url("/theme/img/icons-enhanced.png") no-repeat 0 -46px;*/
	opacity: 0.6;
	
	text-indent: -999em;
	}
	
#odb a:focus,
#odb a:hover,
#odb a:active {
	opacity: 1;
	}

#thomasjbradley a,
#thomasjbradley a:link,
#thomasjbradley a:visited {
	display: block;
	height: 35px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 110px;

	/*background: transparent url("/theme/img/icons-enhanced.png") no-repeat -120px -82px;*/

	text-indent: -999em;
	}

#thomasjbradley a:focus,
#thomasjbradley a:hover,
#thomasjbradley a:active {
	background-position: 0 -82px;
	}
	
#map {
	height: 640px;
	
	background-image: url("/theme/img/loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	}
	
#not-exact-loc {
	display: none;
	}
	
#markers-loader {
	bottom: 15px;
	margin: 0;
	padding: 1em 0 1em 52px;
	position: absolute;
	right: 15px;
	width: 12em;
	z-index: 1000;
	
	background: #f2efe9 url("/theme/img/loader.gif") no-repeat 10px center;
	border: 1px solid #c8bca0;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	}

#parksloader {
	height: 20px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 0.9em;
	width: 16px;
	
	background: transparent url("/theme/img/parksloader.gif") no-repeat center center;
	
	text-indent: -999em;
	}

.ratebox {
	display: none;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	
	background-color: #4d5646;
	-moz-transition: opacity 200ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out;
	-webkit-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
	}
	
.rgba .ratebox {
	background-color: rgba(65,76,57,0.85);
	}
	
.ratewidget header {
	margin: 0;
	padding: 0.3em 0.6em 0.4em;
	position: relative;
	z-index: 10;
	
	background-color: #edf4e7;
	background-image: -moz-linear-gradient(top, #fff, #edf4e7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #edf4e7));
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	-webkit-box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	box-shadow: 0 1px 1px rgba(70, 86, 57, 0.7);
	}
	
.ratewidget h2 {
	margin: 0;
	padding: 0;
	
	color: #38452e;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	}
	
.ratewidget header em {
	height: 22px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0.6em;
	top: 0.65em;
	width: 22px;
	
	background: transparent url("/theme/img/icons-basic.png") no-repeat -66px -19px;
	
	text-indent: -999em;
	}
	
.ratewidget header em.leashed {
	background-position: -22px -19px;
	}

.ratewidget header em.restrictions {
	background-position: -44px -19px;
	}

.ratewidget header em.free {
	background-position: 0 -19px;
	}

.rate-dialog .ratewidget {
	margin: 0 auto;
	top: -2000px;
	width: 24em;
	
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.6);
	box-shadow: 0 2px 6px rgba(0,0,0,0.6);
	-moz-transition: top 600ms ease-in-out;
	-o-transition: top 600ms ease-in-out;
	-webkit-transition: top 600ms ease-in-out;
	transition: top 600ms ease-in-out;
	}
	
.rate-dialog .ratewidget .btn {
	display: inline;
	float: left;
	}

#rate-button {
	float: right;
	}
